  <!--=============== HEADER onload="isitahun()" ===============-->
  <header class="header" id="header">
    <nav class="nav container">
      <!-- <a href="#" class="nav__logo"> -->
     <div id="clockdate">
        <div class="clockdate-wrapper">
          <div id="clock"></div>
          <div id="date"></div>
        </div>
      </div>
    
    <!-- </a> -->
   


      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a
              href="/penjualan"              
              class="nav__link "
            >
              <i class="bx bx-dollar nav__icon"  class="active-link"></i>
              <span class="nav__name ">Penjualan</span>
              
            </a>
          </li>

          <li class="nav__item">
            <!-- <a href="#persediaan" 
            onclick="persediaan()" class="nav__link"> -->
            <a href="persediaan" 
             class="nav__link">
              <i class="bx bx-user nav__icon"></i>
              <span class="nav__name">Persediaan</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="keuangan" class="nav__link">
              <i class="bx bx-book-alt nav__icon"></i>
              <span class="nav__name">Keuangan</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="info" class="nav__link">
              <i class="bx bx-info-circle nav__icon"></i>
              <span class="nav__name">Informasi</span>
            </a>
          </li>

          <li class="nav__item">
                          <a href="/" class="nav__link">
                              <i class='bx bx-exit nav__icon'></i>
                              <span class="nav__name">Logout</span>
                          </a>
                      </li>
        </ul>
      </div>

      <!-- <img src="assets/img/logo128.png" alt="" class="nav__img" /> -->
    </nav>
  </header>