<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--=============== BOXICONS ===============-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
/>

<!--=============== CSS ===============-->
<link rel="stylesheet" href="assets/css/styles.css" />

<!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
<script src="dist/apexcharts.min.js"></script>


<title>Griya Ilmu</title>
