<section class="container section" id="info">
  <div class="card">
    <div class="card-judul">
      <div id="judul_info">Info Program</div>
    </div>

    <div class="card-container ">
      <pre>
    Company: Griya Ilmu 
    Alamat : Pare Kediri
    sub Company   : - Diksi senja
                    - Griya Ilmu
                    - Griya Buku
                    - Meubel Cantik
      </pre>              
    </div>

    <div class="card-footer"></div>
  </div>

  <div class="card2">
    <div class="card2-judul">
      <div id="judul_info2">Feature Program</div>
      
    </div>

    <div class="card2-container">
      <pre>        
    - 3 in 1 Company 
    - Modul POS 
    - Cetak Barcode   

      </pre>
    </div>

    <div class="card2-footer"></div>
  </div>


  <div class="card3">
    <div class="card3-judul">
      <div id="judul_info3">Update Program</div>
      
    </div>

    <div class="card3-container">
      <pre>
    Done 
    - 202309:penambahan menu info
    On Progress 
    - Penambahan menu Login 
    Next
    - Menu Keuangan

      </pre>
    </div>

    <div class="card3-footer"></div>
  </div>
</section>
