  <!--=============== Pilih Perusahaan ===============-->
 
  <div class="wrapper">
    <div class="tabs_wrap " >
      <ul >
        <li data-tabs="company1" class="active" onclick="company1()">Diksi Senja</li>
        <li data-tabs="company2" onclick="company2()">Griya Ilmu</li>
        <li data-tabs="company3" onclick="company3()">Griya Buku</li>
        <li data-tabs="company4" onclick="company4()">Meubel Cantik</li>
        <li data-tabs="company5" onclick="company5()">Meubel BA</li>
      </ul>
    </div>
  </div>
