<section class="container section section__height" id="persediaan" >
    <!-- <h2 class="section__title" >Persediaan</h2> -->


    <div class="card">
      <div class="card-judul">
        <div id='judul_persediaan1'>Persediaan dengan Harga Beli</div>
        <div id='back'></div>

        </div>

       
      <div class="card-container">         
         <div id="table_persedian1" style=" justify-content: center"></div> 
      </div>



      <div class="card-footer">
       
      </div>
    </div>

  </section>