<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <title>Bang Amir Group</title>

    <link rel="stylesheet" href="/assets/css/login.css" />
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <!-- <link href="/public/assets/css/output.css" rel="stylesheet"> -->
   
  </head>
  <body>
    <div class="background">
      <!-- <div class="image"></div>  
      <div class="judul">Serba Grosir</div>  
      <div class="judul">dan</div>  
      <div class="judul">Baby Shop</div>   -->

    <div class="shape">
   </div>
    
    </div>

    
    <!-- <form > -->


                    <!-- <h3>Login Here</h3> -->

      <!-- <label for="username">Username</label>
      <input type="text" placeholder="Username or Email" id="username" />

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" />
      <br> -->
                    <!-- <input type="submit" name="login" value="Login"> -->
      <!-- <div id="loading"></div>
      <input type="submit" value="Login" id="loginbutton" onclick="loginButton()" > -->
      <!-- <div id="loginbutton">
        <button onclick="loginButton()">Log In</button>
      </div>     -->
      <!-- <div id="warning"></div> -->
   
    </form>

    <input type="submit" value="Login" id="loginbutton" onclick="loginButton()" >
    <script>
      window.baseurl = "<%= baseurl %>";
    </script>
    <script src="assets/js/login.js"></script>
  </body>
</html>
